<app-nav-bar>
  <ng-container>
    <div class="container-title">
      <h2>FAQ (Frequently Asked Questions)</h2>
    </div>

    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button
            class="accordion-button"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseOne"
            aria-expanded="true"
            aria-controls="collapseOne"
          >
            Como redefinir a minha senha?
          </button>
        </h2>
        <div
          id="collapseOne"
          class="accordion-collapse collapse show"
          aria-labelledby="headingOne"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            <strong>Lorem ipsum dolor sit amet consectetur.</strong> Lorem ipsum
            dolor sit amet consectetur adipisicing elit. Neque reiciendis nemo
            quae, saepe, fuga tempore ex officiis molestiae aliquid autem
            tenetur? Minima ratione cum commodi libero at debitis iste facilis
            natus aspernatur possimus ducimus quos aliquid eos asperiores
            quaerat ut necessitatibus itaque, sint optio accusamus sequi non
            aliquam. Officiis dolores quaerat perferendis dolore laudantium.
            Veritatis a tempore necessitatibus dicta adipisci.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseTwo"
            aria-expanded="false"
            aria-controls="collapseTwo"
          >
            Como posso entrar em contato com a Helpr?
          </button>
        </h2>
        <div
          id="collapseTwo"
          class="accordion-collapse collapse"
          aria-labelledby="headingTwo"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi
            possimus accusamus ullam iste exercitationem officiis sed vel a
            accusantium totam nobis beatae eligendi laborum, minima quod fugiat
            quam. Provident consequuntur obcaecati odio in molestiae quae
            suscipit dolorem at aliquam et.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseTwo"
            aria-expanded="false"
            aria-controls="collapseTwo"
          >
            Como faço para abrir um chamado?
          </button>
        </h2>
        <div
          id="collapseTwo"
          class="accordion-collapse collapse"
          aria-labelledby="headingTwo"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur
            soluta ipsa, delectus unde laboriosam perspiciatis culpa similique
            cupiditate odit enim totam molestias magni maiores molestiae ut.
            Ratione laborum error suscipit?
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseThree"
            aria-expanded="false"
            aria-controls="collapseThree"
          >
            Em quanto tempo meu chamado será resolvido?
          </button>
        </h2>
        <div
          id="collapseThree"
          class="accordion-collapse collapse"
          aria-labelledby="headingThree"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            <strong>Lorem ipsum dolor sit amet consectetur.</strong> Lorem ipsum
            dolor sit amet, consectetur adipisicing elit. Odit modi dolore,
            assumenda voluptates fugit et amet iure, delectus minima dicta nihil
            alias ratione animi eaque soluta quam molestias, quo voluptate a.
            Ullam sapiente accusamus, atque recusandae magnam harum laborum
            sunt.
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</app-nav-bar>
