
<h1 class="h1">Meu Perfil</h1>
<div class="container">
    <section class="table-container mat-elevation-z8" tabindex="0">
        <table>

            <ng-container matColumnDef="foto">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let funcionario"> {{funcionario.foto}} </td>
            </ng-container>

            
            <ng-container matColumnDef="login">
                <th mat-header-cell *matHeaderCellDef> Login </th>
                <td mat-cell *matCellDef="let funcionario"> {{funcionario.login}} </td>
            </ng-container>

            <ng-container matColumnDef="nome">
                <th mat-header-cell *matHeaderCellDef> Nome </th>
                <td mat-cell *matCellDef="let funcionario"> {{funcionario.nome}} </td>
            </ng-container>

            <ng-container matColumnDef="titulo">
                <th mat-header-cell *matHeaderCellDef> Telefone </th>
                <td mat-cell *matCellDef="let funcionario"> {{funcionario.telefone}} </td>
            </ng-container>

            <ng-container matColumnDef="prestador">
                <th mat-header-cell *matHeaderCellDef> Prestador </th>
                <td mat-cell *matCellDef="let funcionario"> {{funcionario.login}} </td>
                <!-- <select id="prestador" name="prestadorform">
                    <option value=""></option>
                    <option value="prestador">Prestador</option>
                    <option value="nPrestador">Não Prestador</option>
                </select> -->
            </ng-container>

            <ng-container matColumnDef="datanasc">
                <th mat-header-cell *matHeaderCellDef>Data de nascimento</th>
                <td mat-cell *matCellDef="let funcionario"> {{funcionario.datanasc}} </td>
            </ng-container>

            <ng-container matColumnDef="celular">
                <th mat-header-cell *matHeaderCellDef> Celular </th>
                <td mat-cell *matCellDef="let funcionario"> {{funcionario.celular}} </td>
            </ng-container>



